.tooltip-table {
  min-width: 221px;
  border-collapse: separate;
  pointer-events: all;

  & th, & td {
    border: 1px solid #E6E6E6;
    padding: 2px;

    & > span {
      margin: 10px;
    }
  }
}

.tooltip-caption {
  padding: 3px;
  text-align: center;
}

.mouse-tooltip {
  margin-top: 22px; //to put it slightly lower, so the cursor doesn't hide anything
  border: 1px solid black;
  border-radius: 5px;
  background: white;
  z-index: 10;
  position: fixed;
  pointer-events: none;
  display: flex;
  flex-flow: column;
}
