@media only screen and (max-width : 769px) {

    /*Make floorplan reach from header to footer or from top to bottom*/
    .floorplan {
        height:calc(100% - 95px);
    }
    .floorplan-fullscreen {
        height: calc(100% - 45px);
    }

    /*Sets the CSS of right and left arrow, also known as next and previous-button. There are distinct CSS definitions for
    margin-bottom and bottom, since zooming out seemed to scale the button out of the floorplan viewbox on Chrome*/
    .previous-button, .next-button {
        font-size: 36px; /*Increase the size of arrow a little*/
        position: fixed;
        bottom: 5%; /*fallback for browsers that don't support vh*/
        bottom: 5vh;
    }

    /*Make next-button hug the right side of floorplan div*/
    .next-button {
        right: 0px;
    }

    /*Padding needs to be 20 px since the search container all ready has -15px margin to
      override header bottom margin*/
    .search-container-full {
        padding-top: 20px;
    }
    
    #searchContent2 {
        width: 220px;
        display:inline;
    }
}

@media only screen and (min-width : 769px) {
    .floorplan {
        height:calc(100% - 145px);
    }
    .floorplan-fullscreen {
        height: calc(100% - 55px);
    }
    /*Sets the CSS of right and left arrow, also known as next and previous-button. There are distinct CSS definitions for
    margin-bottom and bottom, since zooming out seemed to scale the button out of the floorplan viewbox on Chrome*/

    .previous-button, .next-button {
        font-size: 48px; /*Increase the size of arrow a little*/
        position: absolute;
        bottom: 5%; /* Fallbacks for browsers that don't support vh measurements*/
        margin-bottom: 5%;
        bottom: 5vh;
        margin-bottom: 5vh;

    }
    .previous-button {
        left: 5%;
        left: 5vh;
    }
    .next-button {
        right: 5%;
        right: 5vh;
    }
    
    .search-container-full {
        padding-top: 20px;
    }
    
    #searchContent2 {
        width: 50%;
        display:inline;
    }

}

/*CSS for button that makes the floorplan fullscreen*/
.fullscreen-button {
    position:absolute;
    margin-top:1%;
    margin-left: 1%; /*Fallbacks for older browsers*/
    margin-top: 1vh;
    margin-left: 1vh;
    float: left;
}


/* CSS-definitions for the caption that is on top of floorplan*/
.floorplan-caption {
    left: 30%;
    right: 30%;
    position: absolute;
}
.caption-text {
    text-align: center;
    color: #333;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
}


/*CSS definitions for search bar next to it*/

#searchContainer {
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    margin-top:-10px;
    margin-bottom:5px;
}

#sensorTypeButton {
    width: 120px;
    margin-bottom:5px;
}

#sensorTimeButton {
    width: 85px;
    margin-bottom:5px;
}

.caret {
    float: right;
    margin-top: 10px;
}
