@media only screen and (max-width : 769px) {

    /*Make floorplan reach from header to footer or from top to bottom*/
    .floorplan {
        height:calc(100% - 95px);
    }
    .floorplan-fullscreen {
        height: calc(100% - 45px);
    }
	.pano-2d-view {
	    height: calc(100%-45px);
	}

    /*Sets the CSS of right and left arrow, also known as next and previous-button. There are distinct CSS definitions for
    margin-bottom and bottom, since zooming out seemed to scale the button out of the floorplan viewbox on Chrome*/
    .previous-button, .next-button {
        font-size: 36px; /*Increase the size of arrow a little*/
        position: fixed;
        bottom: 5vh;
    }

    /*CSS definitions for those sensor buttons at the bottom of floorplan viewport*/
    .sensor-class {
        left:5%;
        right:5%;
        bottom: 0vh;
        position: fixed;
        text-align:center;
    }
    /*Make next-button hug the right side of floorplan div*/
    .next-button {
        right: 0vh;
    }

    /*Padding needs to be 20 px since the search container all ready has -15px margin to
      override header bottom margin*/
    .search-container-full {
        padding-top: 20px;
    }
}

@media only screen and (min-width : 769px) {
    .floorplan {
        height:calc(100% - 145px);
    }
    .floorplan-fullscreen {
        height: calc(100% - 55px);
    }
	
	.pano-2d-view {
	    height: calc(100% - 100px)!important;
		margin-top: -15px;
    }
	
    /*Sets the CSS of right and left arrow, also known as next and previous-button. There are distinct CSS definitions for
    margin-bottom and bottom, since zooming out seemed to scale the button out of the floorplan viewbox on Chrome*/

    .previous-button, .next-button {
        font-size: 48px; /*Increase the size of arrow a little*/
        position: absolute;
        bottom: 5vh;
        margin-bottom: 5vh;

    }
    .previous-button {
        left: 5vh;
    }
    .next-button {
        right: 5vh;
    }

    /*CSS definitions for those sensor buttons at the bottom of floorplan viewport*/
    .sensor-class {
        left:20%;
        right:20%;
        bottom: 50px;
        position: fixed;
        text-align:center;
    }
    .search-container-full {
        padding-top: 20px;
    }

}

/*CSS for button that makes the floorplan fullscreen*/
.fullscreen-button {
    position:absolute;
    margin-top: 1vh;
    margin-left: 1vh;
    float: left;
}


/* CSS-definitions for the caption that is on top of floorplan*/
.floorplan-caption {
    left: 30%;
    right: 30%;
    position: absolute;
}
.caption-text {
    text-align: center;
    color: #333;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
}


/*CSS definitions for search bar next to it*/

#searchContainer {
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
    margin-top:-10px;
    margin-bottom:5px;
}

#searchContent2 {
    width: 100%;
    display:inline;
}


/* CSS definitions for the sensor time interval buttons and popover (tooltip) */ 
.sensor-interval {
    margin-top: 1vh;
    right: 0px;
    position: fixed;
    text-align:right;
}

.sensor-interval .popover {
    margin-right: 82px;
    margin-top: 56px;
}

.sensor-interval .popover .arrow {
    top: 15px;
}

/* CSS definitions for the sensor type popover (tooltip) */
.sensor-class .popover {
    margin-top: 10px;
    margin-left: 72px;
}

.sensor-class .popover .arrow {
    left: 27px;
}
