
.carousel-inner {
    height:100%;
}
.carousel-inner > .item{
    height:100%;
}

/* Height of the frontpage carousel will equal to 100% minus the height of the footer on bigger screens */
@media only screen and (min-width : 769px) {
    .frontpage-carousel {
        margin-top: -15px;
        height:calc(100% - 100px)!important;
        height:85%; /*This is a fallback for devices with no calc support*/
    }

}
/* Smaller devices: no footer so content can be 100%*/
@media only screen and (max-width : 769px) {
    .frontpage-carousel {
        margin-top: -15px;
        height:calc(100% - 50px)!important;
        height:90%; /*This is a fallback for devices with no calc support*/
    }
    .carousel-slide {
    background-size: 100%;
    }
}

/* Set the background color of landing page here*/
.carousel-slide {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 


}
.carousel-caption{
    color:black;
    text-shadow: 2px 2px 5px  #808080;
}
.carousel-indicators li{
    background-color:black;
    border: 1px solid gray;
}
.carousel-indicators .active{
    background-color: gray;
}

.carousel-control{
    color: black;
}

.carousel-control{
    color: black;
    }

.btn-primary{
    color:black;
}

/*Compress the content a bit to make it fit in landscape view*/
@media screen and (max-height: 350px) {
    .carousel-caption {
        top:0px!important;
        padding-top:0px;
    }
    .carousel-heading {
        margin-top:0px;
        margin-bottom: 0px;
    }
}
/*Space out the content for larger devices*/
@media screen and (min-height: 350px) {
    .carousel-caption {
        top: auto!important;
        bottom: auto!important;
    }
}