
.carousel-inner {
    height:100%;
}
.carousel-inner > .item{
    height:100%;
}

.carousel-caption {
    top: 20px!important;
}

/* Height of the frontpage carousel will equal to 100% minus the height of the footer on bigger screens */
@media only screen and (min-width : 769px) {
    .frontpage-carousel {
        margin-top: -15px;
        height:calc(100% - 80px);
    }
}
/* Smaller devices: no footer so content can be 100%*/
@media only screen and (max-width : 769px) {
    .frontpage-carousel {
        margin-top: -15px;
        height:calc(100% - 40px);
    }
}

.carousel-slide {
    background-color: #3059D6;
}