/* Space out content a bit */
body {
    padding-bottom: 20px;
}

html {
    height: 100%;
    width:100%;
    position: relative;
}
body {
    height: 100%;
    overflow:hidden;
}
/*Angular.ui definition needed to change the cursor to pointer when over a button*/
.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

.navbar .navbar-brand {
    list-style-type: none;
}

.navbar .navbar-brand #home {
    color: gray;
    text-decoration: none;
}

.navbar .navbar-brand #home:hover {
    color: black;
    text-decoration: none;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    background-color: #f5f5f5;
    bottom: 0;
    padding-top: 10px;
    height: 50px;
    position: fixed;
    width: 100%;
    border-top: 1px solid #e5e5e5;
}

/* Customize container */
/*
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
*/
.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}
.marketing p + h4 {
    margin-top: 28px;
}

.floorplan {
    border: 1px solid #e5e5e5;
}

.mousetooltip {
    margin-top: 19px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    background: #A3CCCC;
    z-index: 10;
    position: absolute;
    visibility: hidden;
}

.home-navs > li {
    display:inline;
    list-style-type: none;
    margin: 20px;
    font-size: 32px;
}

#searchContainer {
    margin-top:15px;
    margin-bottom:10px;
}

#searchContent {
    width: 80%;
    display:inline;
}

#searchDefault {
    display:inline;
    margin-bottom:3px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

/*Remove home page white space wrapping*/
.no-wrap {
    white-space: nowrap;
}

/* Override the bootstrap top 3px CSS*/
.glyphicon {
    top: auto;
}

.frontpage-carousel {
    height: 100%;
}

/*Remove paddings, needed for front page*/
.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
    height: 100%;
}

/*Remove margin between container fluid and navbar (needed for front page*/
.navbar {
    margin-bottom: 0px;
}

.myGrid {
    margin-top: 15px;
    height:100%;
}

/* Height of the content will equal to 100% minus the height of the footer on bigger screens */
@media only screen and (min-width : 769px) {
    #content {
        height:calc(100% - 80px);
    }
}
/* Smaller devices: no footer so content can be 100%*/
@media only screen and (max-width : 769px) {
    #content {
        height:calc(100% - 30px);
    }
}