/* Space out content a bit */
body {
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

.navbar .navbar-brand {
  list-style-type: none;        
}

.navbar .navbar-brand #home {
  color: gray;  
  text-decoration: none;
}

.navbar .navbar-brand #home:hover {
  color: black;
  text-decoration: none;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
/*
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
*/
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

.floorplan {
  border: 1px solid #e5e5e5;
}

.mousetooltip {
  margin-top: 19px;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  background: #A3CCCC;
  z-index: 10;
  position: absolute;
  visibility: hidden;
}

.home-navs > li {
  display:inline;
  list-style-type: none;
  margin: 20px;
  font-size: 32px;
}

#searchContainer {
    margin-bottom:10px;
}

#searchContent {
    width: 80%;
    display:inline;
}

#searchDefault {
    display:inline;
    margin-bottom:3px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/*Remove home page white space wrapping*/
.no-wrap {
    white-space: nowrap;
}

/* Increase the height of floorplan slightly for small Devices and Tablets (footer will disappear)*/
@media only screen and (max-width : 768px) {
    .floorplan {
        height: 78vh;
    }
    .floorplan-fullscreen {
        height: 92.5vh;
    }
	.myGrid {
        height: 76.5vh;
    }
}
/*CSS for button that makes the floorplan fullscreen*/
	.fullscreen-button {
		position:absolute;
        margin-top: 1vh;
        margin-left: 1vh;
        float: left;
	}

    /*Sets the CSS of right arrow, also known as next-button. There are distinct CSS definitions for
    margin-bottom and bottom, since zooming out seemed to scale the button out of the floorplan viewbox on Chrome*/
    .previous-button {
        position: absolute;
        bottom: 5vh;
        margin-bottom: 5vh;
        left: 5vh;
    }

    /*Sets the CSS of right arrow, also known as next-button. There are distinct CSS definitions for
    margin-bottom and bottom, since zooming out seemed to scale the button out of the floorplan viewbox on Chrome*/
    .next-button {
        position: absolute;
        bottom: 5vh;
        right: 5vh;
        margin-bottom: 5vh;
    }

/* Increase the height of grid slightly for small Devices and Tablets (footer will disappear) */
@media only screen and (min-width : 769px) {
    .myGrid {
        height: 83vh;
    }
	.floorplan {
		height: 80vh;
	}
	.floorplan-fullscreen {
        height: 90vh;
    }
}

/* CSS-definitions for the caption that is on top of floorplan*/
.floorplan-caption {
    left: 30%;
    right: 30%;
    position: absolute;
}
.caption-text {
    text-align: center;
    color: #fff;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}

/* Override the bootstrap top 3px CSS*/
.glyphicon {
    top: auto;
}