html {
  height: 100%;
  width: 100%;
  position: relative;
}
body {
  position: fixed;
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

@import
  'utilities/variables',
  'utilities/general';

@import
  'partials/buttons',
  'partials/tooltip',
  'partials/typography',
  'partials/search-bar',
  'partials/jumbotron';

@import
  'components/index',
  'components/home',
  'components/sensor-list',
  'components/heat-map',
  'components/panorama',
  'components/x3dom',
  'components/analytics';
