.btn-black {
  color: #FFFFFF;
  background-color: #000000;
  border-color: #000000;

  &:hover,
  &:focus,
  &:active,
  &.active,
  &.open &.dropdown-toggle {
    color: #FFFFFF;
    background-color: #A8A8A8;
    border-color: #000000;
  }

  &:active,
  &.active,
  &.open &.dropdown-toggle {
    background-image: none;
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] &,
  &.disabled:hover,
  &[disabled]:hover,
  fieldset[disabled] &:hover,
  &.disabled:focus,
  &[disabled]:focus,
  fieldset[disabled] &:focus,
  &.disabled:active,
  &[disabled]:active,
  fieldset[disabled] &:active,
  &.disabled.active,
  &[disabled].active,
  fieldset[disabled] &.active {
    background-color: #000000;
    border-color: #000000;
  }

  & .badge {
    color: #000000;
    background-color: #FFFFFF;
    border-color: #000000;
  }
}

.fullscreen-button {
  position:absolute;
  margin-top: 1%;
  margin-right: 1%; //Fallbacks for older browsers
  margin-top: 1vh;
  margin-right: 1vh;
  float: right;
  right: 0px;
  z-index: 2;
}

@media only screen and (max-width : 768px) {
  .fullscreen-button {
    margin-top: 50px;
  }
}
