<div class="modal-header">
  <h3 class="modal-title">Select the sensor to add</h3>
</div>
<div class="modal-body" style="text-align:left">
  <sensor-tree id="sensor-tree"
    odf-object="modal.params.odfObject"
    select-callback="modal.params.addSensors"
    error="modal.params.alert"
    checkbox="true">
  </sensor-tree>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="modal.ok()">OK</button>
  <button class="btn btn-warning" ng-click="modal.cancel()">Cancel</button>
</div>
