$sensor-tree-height: calc(100% - 44px);

#analytics {
  height: 100%;
}

#sensor-tree-search {
  margin-bottom: 10px;
}

#drop-area {
  border: 2px dashed black;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  padding: 7px;

  & h3 {
    text-align: center;
  }
}

#sensor-ctrl {
  padding: 0px;
  cursor: default;
}

.sensor-legend {
  display: flex;
}

.sensor-legend p {
  margin: 0;
}

.sensor-legend:hover {
  background-color: #e5e5e5;
  cursor: pointer;
}

#clear-btn,
#time-frame {
  display: flex;
  padding: 10px;
  justify-content: center;
}

#clear-btn button,
#time-frame button {
  width: 100%;
}

@media only screen and (min-width : 992px) {
  #analytics {
    margin: 0px;
  }

  .sensor-tree {
    height: 100%;

    & ul:first-child {
      height: $sensor-tree-height;

      & > li {
      overflow-y: scroll;
      height: 100%;
      }
    }
  }

  #sensor-ctrl {
    max-width: 180px;
    height: $view-height;
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width : 991px) {
  #sensor-tree-search {
    margin-top: 10px;
  }

  #analytics {
    overflow-y: auto;
  }

  #sensor-ctrl {
    display: inline-flex;
    width: 100%;
    justify-content: center;

    div {
      max-width: 180px;
      width: 90%;
    }
  }
}
