.panobtn {
  position: fixed;
  z-index: 99999999;
  width: 10em;
  height: 3em;
  border: none;
  background-color: #333;
  color: #9D9D9D;
}

.panorama {
  height: 100%;
  width: 100%;
  z-index: 1;
}
