<div class="search-bar">
  <div>
    <button class="btn btn-black options-btn"
            ng-click="mobileModal()">
      Options
    </button>
    <!-- Sensor Type  -->
    <div class="btn-group desktop-dropdown" dropdown>
      <button ng-cloak
              class="btn btn-black dropdown-toggle sensor-type-btn"
              dropdown-toggle ng-disabled="disabled"
              data-label-placement>
        {{sensorType.text}}
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu pull-right" role="menu">
        <li class="btn" disabled>Choose sensor type</li>
        <li ng-repeat="sensor in sensorTypes">
          <a ng-disabled="sensorType == sensor"
             ng-click="selectSensorType(sensor)">
            <img class="icons" ng-src="{{sensor.icon}}">{{sensor.text}}
          </a>
        </li>
      </ul>
    </div>
    <!-- Sensor timeframe  -->
    <div class="btn-group desktop-dropdown" dropdown>
      <button ng-cloak
              class="btn btn-black dropdown-toggle time-frame-btn"
              dropdown-toggle
              ng-disabled="disabled"
              data-label-placement
              style="white-space: normal">
        <span ng-if="timeFrame.params.end">
          <span style="white-space: nowrap">
            {{timeFrame.params.begin.split('T')[0]}}
          </span>
          to
          <span style="white-space: nowrap">
            {{timeFrame.params.end.split('T')[0]}}
          </span>
        </span>
        <span ng-if="!timeFrame.params.end">
          {{timeFrame.text}}
        </span>
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu pull-right" role="menu">
        <li class="btn" disabled>Choose time frame</li>
        <li ng-repeat="time in timeFrames">
          <a ng-disabled="timeFrame == time"
             ng-click="selectTimeFrame(time)" uncheckable>
            <img ng-src="{{time.icon}}" class="icons">{{time.text}}
          </a>
        </li>
      </ul>
    </div>

    <input type="text"
           ng-model="searchString"
           placeholder="Search for rooms..."
           typeahead="room as room.name for room in floorplan.rooms
                     | filter: {name: $viewValue}
                     | limitTo: 8"
           ng-disabled="!floorplan.rooms.length"
           class="form-control search-input"
           typeahead-on-select="selectRoom($item)">

    <button class="btn btn-default"
            ng-click="searchRoom(searchString)"
            title="Search">
      <span class="glyphicon glyphicon-search" style="vertical-align:middle"></span>
    </button>
    <button class="btn btn-default"
            ng-click="resetZoom()"
            title="Reset zoom">
      <span class="glyphicon glyphicon-home" style="vertical-align:middle"></span>
    </button>
  </div>
</div>

<div class="jumbotron" ng-hide="svgSupport">
  <h1>Your browser doesn't support svg!</h1>
</div>

<div ng-hide="!svgSupport"
     ng-class="App.fullscreen ? 'floorplan-fullscreen' : 'floorplan'">
  <!-- Expand / compress button -->
  <i ng-click="toggleFullscreen()"
     class="btn fullscreen-button glyphicon"
     ng-class="App.fullscreen ? 'glyphicon-resize-small' :
              'glyphicon-resize-full'"></i>

  <div ng-cloak class="floorplan-caption">
    <h4 class="caption-text">
      {{floorplan.name}} ({{floor}}/{{floorplans.length}})
    </h4>
  </div>

  <!-- Button that loads up that lower (aka previous) floor -->
  <i ng-click="prevFloor()"
     class="btn btn-lg previous-button glyphicon glyphicon-arrow-left"
     ng-class="App.fullscreen ? 'btn-fullscreen' : ''"
     ng-disabled="floor == '1'">
  </i>

  <!-- button that loads up higher (aka next) floor -->
  <i ng-click="nextFloor()"
     class="btn btn-lg next-button glyphicon glyphicon-arrow-right"
     ng-class="App.fullscreen ? 'btn-fullscreen' : ''"
     ng-disabled="floor == floorplans.length">
  </i>

  <!-- The actual floorplan -->
  <heat-map id="heat-map"
            class="fp"
            floorplan="floorplan"
            selected-room="selectedRoom"
            sensor-type="sensorType">
    <tooltip ng-if="heatmap.isFloorplanLoaded"
             sensor-type="sensorType"
             class="mouse-tooltip">
    </tooltip>
    <legendbar id="legendbar"
               sensor-type="sensorType"
               style="position: absolute">
    </legendbar>
  </heat-map>
</div>
