<div class="jumbotron" ng-hide="svgSupport" ng-cloak>
  <h1>Your browser doesn't support svg!</h1>
</div>

<div ng-hide="!svgSupport"
     ng-class="App.fullscreen ? 'floorplan-fullscreen' : 'floorplan'">
  <!-- Expand / compress button -->
  <i ng-click="toggleFullscreen()"
     class="btn fullscreen-button glyphicon"
     ng-class="App.fullscreen ? 'glyphicon-resize-small' :
              'glyphicon-resize-full'"></i>

  <div ng-cloak class="floorplan-caption">
    <h4 class="caption-text">
      {{floorplan.name}} ({{floor}}/{{floorplans.length}})
    </h4>
  </div>

  <!-- Button that loads up that lower (aka previous) floor -->
  <i ng-click="prevFloor()"
     class="btn btn-lg previous-button glyphicon glyphicon-arrow-left"
     ng-class="App.fullscreen ? 'btn-fullscreen' : ''"
     ng-disabled="floor == '1'">
  </i>

  <!-- button that loads up higher (aka next) floor -->
  <i ng-click="nextFloor()"
     class="btn btn-lg next-button glyphicon glyphicon-arrow-right"
     ng-class="App.fullscreen ? 'btn-fullscreen' : ''"
     ng-disabled="floor == floorplans.length">
  </i>

  <!-- The actual floorplan -->
  <heat-map id="heat-map"
            class="fp"
            floorplan="floorplan"
            selected-room="room"
            sensor-type="sensorType"
            building="currentBuilding">

    <tooltip ng-if="heatmap.isFloorplanLoaded"
             sensor-type="sensorType"
             element-to-attach="'[data-room-id]'"
             parent-element="'#floorplan'"
             class="mouse-tooltip">
    </tooltip>

    <legendbar id="legendbar"
               sensor-type="sensorType"
               style="position: absolute">
    </legendbar>

  </heat-map>
</div>
