<div ng-hide="pano" id="searchContainer" ng-class="searchContainer">
  <button class="btn btn-black mobile-button" ng-click="open()">Options</button>
  <!-- Sensor Type  -->
  <div class="btn-group desktop-dropdown" dropdown>
    <button id="sensorTypeButton" class="btn btn-black dropdown-toggle" dropdown-toggle ng-disabled="disabled" data-label-placement> 
      {{roomValueType}} <span class="caret"></span>
    </button>
    <ul class="dropdown-menu pull-right typeMenu" role="menu">
      <li class="btn" disabled>Choose sensor type</li>
      <li><a ng-disabled="roomValueType == 'CO2'" ng-click="changeColour('CO2')">CO2</a></li>
      <li><a ng-disabled="roomValueType == 'Temperature'" ng-click="changeColour('Temperature')" active>Temperature</a></li>
      <li><a ng-disabled="roomValueType == 'Humidity'" ng-click="changeColour('Humidity')">Humidity</a></li>
      <li><a ng-disabled="roomValueType == 'Light'" ng-click="changeColour('Light')">Light</a></li>
      <li><a ng-disabled="roomValueType == 'Occupancy'" ng-click="changeColour('Occupancy')">Occupancy</a></li>
    </ul>
  </div>
  <!-- Sensor timeframe  -->
  <div class="btn-group desktop-dropdown" dropdown>
    <button id="sensorTimeButton" class="btn btn-black dropdown-toggle" dropdown-toggle ng-disabled="disabled" data-label-placement> 
      {{ timeFrame }} <span class="caret"></span>
    </button>
    <ul class="dropdown-menu pull-right timeMenu" role="menu">
      <li class="btn" disabled>Choose data timeframe</li>
      <li><a ng-disabled="timeFrame == 'Latest'" ng-click="selectTimeFrame('Latest')" uncheckable>Latest</a></li>
      <li><a ng-disabled="timeFrame == 'Day'" ng-click="selectTimeFrame('Day')" uncheckable>Day</a></li>
      <li><a ng-disabled="timeFrame == 'Week'" ng-click="selectTimeFrame('Week')" uncheckable>Week</a></li>
      <li><a ng-disabled="timeFrame == 'Month'" ng-click="selectTimeFrame('Month')" uncheckable>Month</a></li>
      <li><a ng-disabled="timeFrame == 'Year'" ng-click="selectTimeFrame('Year')" uncheckable>Year</a></li>
    </ul>
  </div>

  <input id="searchContent2"
         type="text"
         ng-model="searchString"
         placeholder="Search for room..."
         typeahead="room as room.name for room in rooms.list | filter:{name:$viewValue} | limitTo:8"
         class="form-control"
         typeahead-on-select="onSelect($item)">

  <button class="btn btn-default" id="searchDefault" ng-click="">
    <span class="glyphicon glyphicon-search" style="vertical-align:middle"></span>
  </button>
  <button class="btn btn-default" id="searchDefault" ng-click="">
    <span class="glyphicon glyphicon-home" style="vertical-align:middle"></span>
  </button>


</div>

<div class="jumbotron" ng-hide="svgSupport"><h1>Your browser doesn't support svg!</h1></div>


<div id="pano" class="pano-2d-view" ng-show="pano" style="width:100%;height:100%;z-index:1;">
  <button class="panobtn" ng-click="stopPanorama()" >
  <span class="glyphicon glyphicon glyphicon-backward" ></span> BACK </button>
  <noscript><table style="width:100%;height:100%;"><tr style="vertical-align:middle;"><td><div style="text-align:center;">ERROR:<br/><br/>Javascript not activated<br/><br/></div></td></tr></table></noscript>
  <script>
  </script>
</div>

<div ng-hide="pano || !svgSupport" ng-class="floorplanClass">
	<div class="mouse-tooltip" style="position:fixed"></div>

    <span us-spinner="{radius:30, width:8, length: 16}" spinner-key="spinner-1" spinner-start-active="true"></span> <!-- Spinner that shows up during loading -->
    <i ng-click="toggleFullscreen()" class="btn fullscreen-button" ng-class="buttonClass"></i> <!-- Expand / compress button -->
    <div class="floorplan-caption"> <h4 class="caption-text">{{selectedPlan.name}} ({{planNumber+1}}/{{floors}})</h4> </div> <!-- Caption of floorplan -->

  <span us-spinner="{radius:30, width:8, length: 16}" spinner-key="spinner-1" spinner-start-active="true"></span> <!-- Spinner that shows up during loading -->
  <i ng-click="toggleFullscreen()" class="btn fullscreen-button" ng-class="buttonClass"></i> <!-- Expand / compress button -->
  <div class="floorplan-caption"> <h4 class="caption-text">{{selectedPlan.name}} ({{planNumber+1}}/{{floors}})</h4> </div> <!-- Caption of floorplan -->

  <i ng-click="selectPlan(-1)" class="btn btn-lg previous-button" ng-class="previousButtonClass" ng-disabled="planNumber == '0'"></i> <!-- Button that loads up that lower (aka previous) floor -->
  <i ng-click="selectPlan(1)" class="btn btn-lg next-button" ng-class="nextButtonClass" ng-disabled="planNumber == floors-1"></i> <!-- button that loads up higher (aka next) floor -->

  <floorplan class="fp" plan="selectedPlan" data="sensorData" highlighted-room="highlightedRoom" room-value-type="roomValueType">
    <div id="legendBar" style="position: absolute"></div>
  </floorplan> <!-- The actual floorplan -->
</div>

<script type="text/ng-template" id="myModalContent.html">
  <div class="modal-header">
    <h3 class="modal-title">Sensor type and timeframe</h3>
  </div>
  <div class="modal-body">
    <div class="modal-landscape">
      <p>
        <div class="btn-group" id="modalValue">
          <label class="btn btn-black" ng-model="roomValueType" btn-radio="'CO2'" uncheckable>CO2</label>
            <label class="btn btn-black" ng-model="roomValueType" btn-radio="'Temperature'" uncheckable>Temperature</label>
            <label class="btn btn-black" ng-model="roomValueType" btn-radio="'Humidity'" uncheckable>Humidity</label>
            <label class="btn btn-black" ng-model="roomValueType" btn-radio="'Light'" uncheckable>Light</label>
            <label class="btn btn-black" ng-model="roomValueType" btn-radio="'Occupancy'" uncheckable>Occupancy</label>
        </div>
      </p>
      <p>
        <div class="btn-group" id="modalTimeframe">
            <label class="btn btn-black" ng-model="timeFrame" btn-radio="'Latest'" uncheckable>Latest</label>
            <label class="btn btn-black" ng-model="timeFrame" btn-radio="'Day'" uncheckable>Day</label>
            <label class="btn btn-black" ng-model="timeFrame" btn-radio="'Week'" uncheckable>Week</label>
            <label class="btn btn-black" ng-model="timeFrame" btn-radio="'Month'" uncheckable>Month</label>
            <label class="btn btn-black" ng-model="timeFrame" btn-radio="'Year'" uncheckable>Year</label>
        </div>
      </p>
    </div>
    <div class="modal-portrait">
      <p>
        <div class="btn-group-vertical" id="modalValue">
          <label class="btn btn-black" ng-model="roomValueType" btn-radio="'CO2'" uncheckable>CO2</label>
          <label class="btn btn-black" ng-model="roomValueType" btn-radio="'Temperature'" uncheckable>Temperature</label>
          <label class="btn btn-black" ng-model="roomValueType" btn-radio="'Humidity'" uncheckable>Humidity</label>
          <label class="btn btn-black" ng-model="roomValueType" btn-radio="'Light'" uncheckable>Light</label>
          <label class="btn btn-black" ng-model="roomValueType" btn-radio="'Occupancy'" uncheckable>Occupancy</label>
        </div>
        <div class="btn-group-vertical" id="modalTimeframe">
          <label class="btn btn-black" ng-model="timeFrame" btn-radio="'Latest'" uncheckable>Latest</label>
          <label class="btn btn-black" ng-model="timeFrame" btn-radio="'Day'" uncheckable>Day</label>
          <label class="btn btn-black" ng-model="timeFrame" btn-radio="'Week'" uncheckable>Week</label>
          <label class="btn btn-black" ng-model="timeFrame" btn-radio="'Month'" uncheckable>Month</label>
          <label class="btn btn-black" ng-model="timeFrame" btn-radio="'Year'" uncheckable>Year</label>
        </div>
      </p>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
  </div>
</script>
