<div id="searchContainer" ng-class="searchContainer">

  <!-- Sensor Type  -->
  <div class="btn-group" dropdown>
    <button id="sensorTypeButton" class="btn btn-primary dropdown-toggle" dropdown-toggle ng-disabled="disabled" data-label-placement> 
      {{roomValueType}} <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li class="btn" disabled>Choose sensor type</li>
      <li><a ng-disabled="roomValueType == 'CO2'" ng-click="changeColour('CO2')">CO2</a></li>
      <li><a ng-disabled="roomValueType == 'Temperature'" ng-click="changeColour('Temperature')" active>Temperature</a></li>
      <li><a ng-disabled="roomValueType == 'Humidity'" ng-click="changeColour('Humidity')">Humidity</a></li>
      <li><a ng-disabled="roomValueType == 'Light'" ng-click="changeColour('Light')">Light</a></li>
      <li><a ng-disabled="roomValueType == 'pir'" ng-click="changeColour('pir')">pir</a></li>
    </ul>
  </div>
  >
  <!-- Sensor timeframe  -->
  <div class="btn-group" dropdown>
    <button id="sensorTimeButton" class="btn btn-primary dropdown-toggle" dropdown-toggle ng-disabled="disabled" data-label-placement> 
      {{ timeFrame }} <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li class="btn" disabled>Choose data timeframe</li>
      <li><a ng-disabled="timeFrame == 'Latest'" ng-click="selectTimeFrame('Latest')" uncheckable>Latest</a></li>
      <li><a ng-disabled="timeFrame == 'Day'" ng-click="selectTimeFrame('Day')" uncheckable>Day</a></li>
      <li><a ng-disabled="timeFrame == 'Week'" ng-click="selectTimeFrame('Week')" uncheckable>Week</a></li>
      <li><a ng-disabled="timeFrame == 'Month'" ng-click="selectTimeFrame('Month')" uncheckable>Month</a></li>
      <li><a ng-disabled="timeFrame == 'Year'" ng-click="selectTimeFrame('Year')" uncheckable>Year</a></li>
    </ul>
  </div>

  <input id="searchContent2"
         type="text"
         ng-model="searchString"
         placeholder="Search for room..."
         typeahead="room as room.name for room in rooms.list | filter:{name:$viewValue} | limitTo:8"
         class="form-control"
         typeahead-on-select="onSelect($item)">

</div>

<div class="jumbotron" ng-hide="svgSupport"><h1>Your browser doesn't support svg!</h1></div>

<div ng-show="svgSupport" ng-class="floorplanClass">

  <span us-spinner="{radius:30, width:8, length: 16}" spinner-key="spinner-1" spinner-start-active="true"></span> <!-- Spinner that shows up during loading -->
  <i ng-click="toggleFullscreen()" class="btn fullscreen-button" ng-class="buttonClass"></i> <!-- Expand / compress button -->
  <div class="floorplan-caption"> <h4 class="caption-text">{{selectedPlan.name}} ({{planNumber+1}}/{{floors}})</h4> </div> <!-- Caption of floorplan -->

  <i ng-click="selectPlan(-1)" class="btn btn-lg previous-button" ng-class="previousButtonClass" ng-disabled="planNumber == '0'"></i> <!-- Button that loads up that lower (aka previous) floor -->
  <i ng-click="selectPlan(1)" class="btn btn-lg next-button" ng-class="nextButtonClass" ng-disabled="planNumber == floors-1"></i> <!-- button that loads up higher (aka next) floor -->

  <floorplan class="fp" plan="selectedPlan" data="sensorData" highlighted-room="highlightedRoom"></floorplan> <!-- The actual floorplan -->
</div>