<div id="analytics" class="row">
  <div class="col-sm-3">
    <input id="sensor-tree-search" class="form-control"
      ng-model="searchStr"
      type="text"
      placeholder="Search">
    <sensor-tree id="sensor-tree"
      ng-model="sensorData"
      select-sensor="selectSensor"
      add-sensor="addSensor"
      search="searchStr">
    </sensor-tree>
  </div>

  <div class="col-sm-9">
    <div class="row">
      <div id="sensor-ctrl" class="col-xs-2">
        <div id="drop-area"
          title="You can view multiple sensor values at a time by dragging sensors to the drop area.">
          <div id="{{sensor.id}}" class="sensor-legend" ng-repeat="sensor in selectedSensors" draggable="true">
            <img ng-src="images/{{sensor.original.name}}.svg">
            <div>{{sensor.original.room}}: {{sensor.text}}</div>
          </div>
          <h3 ng-if="!selectedSensors.length">Drop a sensor here</h3>
        </div>
        <button id="clear-btn" class="btn btn-default" ng-click="clearSensors()">Clear sensors</button>
      </div>
      <highchart id="sensor-chart" class="col-xs-9" config="chartConfig"></highchart>
    </div>
  </div>
</div>
