<div ng-hide="pano" id="searchContainer" ng-class="searchContainer">
  <button class="btn btn-black mobile-button" ng-click="open()">Options</button>
  <!-- Sensor Type  -->
  <div class="btn-group desktop-dropdown" dropdown>
    <button id="sensorTypeButton" class="btn btn-black dropdown-toggle" dropdown-toggle ng-disabled="disabled" data-label-placement>
      {{roomValueType}} <span class="caret"></span>
    </button>
    <ul class="dropdown-menu pull-right typeMenu" role="menu">
      <li class="btn" disabled>Choose sensor type</li>
      <li ><a ng-disabled="roomValueType == 'CO2'" ng-click="changeColour('CO2')"><img class='icons' src='images/co2.svg'/> CO2</a></li>
      <li><a ng-disabled="roomValueType == 'Temperature'" ng-click="changeColour('Temperature')" active><img src='images/temperature.svg' class='icons' />  Temperature</a></li>
      <li><a ng-disabled="roomValueType == 'Humidity'" ng-click="changeColour('Humidity')"><img src='images/humidity.svg' class='icons' />  Humidity</a></li>
      <li><a ng-disabled="roomValueType == 'Light'" ng-click="changeColour('Light')"><img src='images/light.svg' class='icons' />  Light</a></li>
      <li><a ng-disabled="roomValueType == 'Occupancy'" ng-click="changeColour('Occupancy')"><img src='images/pir.svg' class='icons' />  Occupancy</a></li>
    </ul>
  </div>
  <!-- Sensor timeframe  -->
  <div class="btn-group desktop-dropdown" dropdown>
    <button id="sensorTimeButton" class="btn btn-black dropdown-toggle" dropdown-toggle ng-disabled="disabled" data-label-placement>
      {{ timeFrame }} <span class="caret"></span>
    </button>
    <ul class="dropdown-menu pull-right timeMenu" role="menu">
      <li class="btn" disabled>Choose data timeframe</li>
      <li><a ng-disabled="timeFrame == 'Latest'" ng-click="selectTimeFrame('Latest')" uncheckable><img src='images/latest.svg' class='icons' /> Latest</a></li>
      <li><a ng-disabled="timeFrame == 'Day'" ng-click="selectTimeFrame('Day')" uncheckable><img src='images/day.svg' class='icons' /> Day</a></li>
      <li><a ng-disabled="timeFrame == 'Week'" ng-click="selectTimeFrame('Week')" uncheckable><img src='images/week.svg' class='icons' /> Week</a></li>
      <li><a ng-disabled="timeFrame == 'Month'" ng-click="selectTimeFrame('Month')" uncheckable><img src='images/month.svg' class='icons' /> Month</a></li>
      <li><a ng-disabled="timeFrame == 'Year'" ng-click="selectTimeFrame('Year')" uncheckable><img src='images/year.svg' class='icons' /> Year</a></li>
    </ul>
  </div>

  <input id="searchContent2"
         type="text"
         ng-model="searchString"
         placeholder="Search for room..."
         typeahead="room as room.name for room in rooms.asList() | filter:{name:$viewValue} | limitTo:8"
         class="form-control"
         typeahead-on-select="onSelect($item)">

  <button class="btn btn-default" id="searchDefault" ng-click="onSearch(searchString)">
    <span class="glyphicon glyphicon-search" style="vertical-align:middle"></span>
  </button>
  <button class="btn btn-default" id="searchDefault" ng-click="resetZoom()">
    <span class="glyphicon glyphicon-home" style="vertical-align:middle"></span>
  </button>


</div>

<div class="jumbotron" ng-hide="svgSupport"><h1>Your browser doesn't support svg!</h1></div>

<div id="pano" ng-class="panoramaClass" ng-show="pano">
  <button class="panobtn" ng-click="stopPanorama()" >
  <span class="glyphicon glyphicon glyphicon-backward" ></span> BACK </button>
  <noscript><table style="width:100%;height:100%;"><tr style="vertical-align:middle;"><td><div style="text-align:center;">ERROR:<br/><br/>Javascript not activated<br/><br/></div></td></tr></table></noscript>
  <script>
  </script>
</div>

<div ng-hide="pano || !svgSupport" ng-class="floorplanClass">
  <div class="mouse-tooltip">
  </div>

  <span us-spinner="{radius:30, width:8, length: 16}" spinner-key="spinner-1" spinner-start-active="true"></span> <!-- Spinner that shows up during loading -->
  <i ng-click="toggleFullscreen()" class="btn fullscreen-button" ng-class="buttonClass"></i> <!-- Expand / compress button -->
  <div class="floorplan-caption"> <h4 class="caption-text">{{selectedPlan.name}} ({{planNumber+1}}/{{floors}})</h4> </div> <!-- Caption of floorplan -->

<span us-spinner="{radius:30, width:8, length: 16}" spinner-key="spinner-1" spinner-start-active="true"></span> <!-- Spinner that shows up during loading -->
<i ng-click="toggleFullscreen()" class="btn fullscreen-button" ng-class="buttonClass"></i> <!-- Expand / compress button -->
<div class="floorplan-caption"> <h4 class="caption-text">{{selectedPlan.name}} ({{planNumber+1}}/{{floors}})</h4> </div> <!-- Caption of floorplan -->

<i ng-click="selectPlan(-1)" class="btn btn-lg previous-button" ng-class="previousButtonClass" ng-disabled="planNumber == '0'"></i> <!-- Button that loads up that lower (aka previous) floor -->
<i ng-click="selectPlan(1)" class="btn btn-lg next-button" ng-class="nextButtonClass" ng-disabled="planNumber == floors-1"></i> <!-- button that loads up higher (aka next) floor -->

<!-- The actual floorplan -->
<floorplan class="fp" data-plan="selectedPlan" data-data="sensorData" data-highlighted-room="highlightedRoom" data-room-value-type="roomValueType" data-reset-view="resetView">
  <div id="legendBar" style="position: absolute">
    <p id="legendMinText" class="legendText"></p>
      <svg id="legendContainingSvg">
        <g>
          <defs>
            <lineargradient id="legendGradient" x1="0%" x2="0%" y1="0%" y2="100%">
              <stop></stop>
            </lineargradient>
          </defs>
        </g>
        <rect id="gradientRect" class="legendRect" fill="url(#legendGradient)" rx="10" ry="10" ng-show="showGradient()" ng-cloak></rect>
        <rect id="binaryRectTop" class="binaryRect legendRect" rx="10" ry="10" ng-hide="showGradient()" ng-cloak></rect>
        <rect id="binaryRectBottom" class="binaryRect legendRect" rx="10" ry="10" ng-hide="showGradient()" ng-cloak></rect>
        <line id="legendLine"></line>
        <text id="legendLineText"></text>
      </svg>
      <p id="legendMaxText" class="legendText"></p>
  </div>
</floorplan>
</div>

<script type="text/ng-template" id="myModalContent.html">
  <div class="modal-header">
    <h3 class="modal-title">Sensor type and timeframe</h3>
  </div>
  <div class="modal-body">
    <div class="modal-landscape">
      <p>
        <div class="btn-group" id="modalValue">
          <label class="btn btn-black" ng-model="roomValueType" btn-radio="'CO2'" uncheckable>CO2</label>
            <label class="btn btn-black" ng-model="roomValueType" btn-radio="'Temperature'" uncheckable>Temperature</label>
            <label class="btn btn-black" ng-model="roomValueType" btn-radio="'Humidity'" uncheckable>Humidity</label>
            <label class="btn btn-black" ng-model="roomValueType" btn-radio="'Light'" uncheckable>Light</label>
            <label class="btn btn-black" ng-model="roomValueType" btn-radio="'Occupancy'" uncheckable>Occupancy</label>
        </div>
      </p>
      <p>
        <div class="btn-group" id="modalTimeframe">
            <label class="btn btn-black" ng-model="timeFrame" btn-radio="'Latest'" uncheckable>Latest</label>
            <label class="btn btn-black" ng-model="timeFrame" btn-radio="'Day'" uncheckable>Day</label>
            <label class="btn btn-black" ng-model="timeFrame" btn-radio="'Week'" uncheckable>Week</label>
            <label class="btn btn-black" ng-model="timeFrame" btn-radio="'Month'" uncheckable>Month</label>
            <label class="btn btn-black" ng-model="timeFrame" btn-radio="'Year'" uncheckable>Year</label>
        </div>
      </p>
    </div>
    <div class="modal-portrait">
      <p>
        <div class="btn-group-vertical" id="modalValue">
          <label class="btn btn-black" ng-model="roomValueType" btn-radio="'CO2'" uncheckable>CO2</label>
          <label class="btn btn-black" ng-model="roomValueType" btn-radio="'Temperature'" uncheckable>Temperature</label>
          <label class="btn btn-black" ng-model="roomValueType" btn-radio="'Humidity'" uncheckable>Humidity</label>
          <label class="btn btn-black" ng-model="roomValueType" btn-radio="'Light'" uncheckable>Light</label>
          <label class="btn btn-black" ng-model="roomValueType" btn-radio="'Occupancy'" uncheckable>Occupancy</label>
        </div>
        <div class="btn-group-vertical" id="modalTimeframe">
          <label class="btn btn-black" ng-model="timeFrame" btn-radio="'Latest'" uncheckable>Latest</label>
          <label class="btn btn-black" ng-model="timeFrame" btn-radio="'Day'" uncheckable>Day</label>
          <label class="btn btn-black" ng-model="timeFrame" btn-radio="'Week'" uncheckable>Week</label>
          <label class="btn btn-black" ng-model="timeFrame" btn-radio="'Month'" uncheckable>Month</label>
          <label class="btn btn-black" ng-model="timeFrame" btn-radio="'Year'" uncheckable>Year</label>
        </div>
      </p>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default" ng-click="ok()">OK</button>
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
  </div>
</script>
