<div id="searchContainer"
     ng-class="App.fullscreen ? 'search-container-full' : 'search-no-fullscreen'">
  <button class="btn btn-black mobile-button"
          ng-click="open()">
    Options
  </button>
  <!-- Sensor Type  -->
  <div class="btn-group desktop-dropdown" dropdown>
    <button id="sensorTypeButton"
            ng-cloak
            class="btn btn-black dropdown-toggle"
            dropdown-toggle ng-disabled="disabled"
            data-label-placement>
      {{roomValueType}}
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu pull-right typeMenu" role="menu">
      <li class="btn" disabled>Choose sensor type</li>
      <li ng-repeat="sensor in sensorTypes">
        <a ng-disabled="roomValueType == sensor.name"
           ng-click="changeColour(sensor.name)">
          <img class='icons' ng-src='{{sensor.icon}}'>{{sensor.name}}
        </a>
      </li>
    </ul>
  </div>
  <!-- Sensor timeframe  -->
  <div class="btn-group desktop-dropdown" dropdown>
    <button id="sensorTimeButton"
            ng-cloak
            class="btn btn-black dropdown-toggle"
            dropdown-toggle
            ng-disabled="disabled"
            data-label-placement>
      {{timeFrame.text}}
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu pull-right timeMenu" role="menu">
      <li class="btn" disabled>Choose time frame</li>
      <li ng-repeat="time in timeFrames">
        <a ng-disabled="timeFrame == time"
           ng-click="selectTimeFrame(time)" uncheckable>
          <img ng-src="{{time.icon}}" class="icons">{{time.text}}
        </a>
      </li>
    </ul>
  </div>

  <input id="searchContent2"
         type="text"
         ng-model="searchString"
         placeholder="Search for room..."
         typeahead="room as room.name for room in rooms.asList()
                    | filter:{name:$viewValue}
                    | limitTo:8"
         class="form-control"
         typeahead-on-select="onSelect($item)">

  <button class="btn btn-default" id="searchDefault"
          ng-click="onSearch(searchString)">
    <span class="glyphicon glyphicon-search" style="vertical-align:middle"></span>
  </button>
  <button class="btn btn-default" id="searchDefault" ng-click="resetZoom()">
    <span class="glyphicon glyphicon-home" style="vertical-align:middle"></span>
  </button>
</div>

<div class="jumbotron" ng-hide="svgSupport">
  <h1>Your browser doesn't support svg!</h1>
</div>

<div ng-hide="!svgSupport"
     ng-class="App.fullscreen ? 'floorplan-fullscreen' : 'floorplan'">'

  <div class="mouse-tooltip"></div>

  <!-- Spinner that shows up during loading -->
  <span us-spinner="{radius:30, width:8, length: 16}"
        spinner-key="spinner-1"
        spinner-start-active="true">
  </span>

  <!-- Expand / compress button -->
  <i ng-click="toggleFullscreen()"
     class="btn fullscreen-button"
     ng-class="App.fullscreen ? 'glyphicon glyphicon-resize-small' :
              'glyphicon glyphicon-resize-full'"></i>

  <div ng-cloak class="floorplan-caption">
    <h4 class="caption-text">
      {{selectedPlan.name}} ({{planNumber+1}}/{{floors}})
    </h4>
  </div>

  <!-- Button that loads up that lower (aka previous) floor -->
  <i ng-click="selectPlan(-1)"
     class="btn btn-lg previous-button glyphicon glyphicon-arrow-left"
     ng-class="App.fullscreen ? 'btn-fullscreen' : ''"
     ng-disabled="planNumber == '0'">
  </i>

  <!-- button that loads up higher (aka next) floor -->
  <i ng-click="selectPlan(1)"
     class="btn btn-lg next-button glyphicon glyphicon-arrow-right"
     ng-class="App.fullscreen ? 'btn-fullscreen' : ''"
     ng-disabled="planNumber == floors-1">
  </i>

  <!-- The actual floorplan -->
  <floorplan class="fp"
             data-plan="selectedPlan"
             data-data="sensorData"
             data-highlighted-room="highlightedRoom"
             data-room-value-type="roomValueType"
             data-reset-view="resetView">

    <div id="legendBar" style="position: absolute">
      <p id="legendMinText" class="legendText"></p>
      <svg id="legendContainingSvg">
        <g>
          <defs>
            <lineargradient id="legendGradient" x1="0%" x2="0%" y1="0%" y2="100%">
              <stop></stop>
            </lineargradient>
          </defs>
        </g>
        <rect id="gradientRect"
              class="legendRect"
              fill="url(#legendGradient)"
              rx="10" ry="10"
              ng-show="showGradient()"
              ng-cloak>
        </rect>
        <rect id="binaryRectTop"
              class="binaryRect legendRect"
              rx="10" ry="10"
              ng-hide="showGradient()"
              ng-cloak>
        </rect>
        <rect id="binaryRectBottom"
              class="binaryRect legendRect"
              rx="10" ry="10"
              ng-hide="showGradient()"
              ng-cloak>
        </rect>
        <line id="legendLine"></line>
        <text id="legendLineText"></text>
      </svg>
      <p id="legendMaxText" class="legendText"></p>
    </div>

  </floorplan>

</div>

<script type="text/ng-template" id="sensor-options.html">
  <div class="modal-header">
    <h3 class="modal-title">Sensor type and timeframe</h3>
  </div>
  <div class="modal-body">
    <div class="modal-landscape">
      <p>
        <div class="btn-group" id="modalValue">
          <label ng-repeat="sensor in sensorTypes"
                 class="btn btn-black"
                 ng-model="roomValueType"
                 btn-radio="sensor.name"
                 uncheckable>
            {{sensor.name}}
          </label>
        </div>
      </p>
      <p>
        <div class="btn-group" id="modalTimeframe">
          <label ng-repeat="time in timeFrames"
                 class="btn btn-black"
                 ng-model="timeFrame"
                 btn-radio="time"
                 uncheckable>
            {{time.text}}
          </label>
        </div>
      </p>
    </div>
    <div class="modal-portrait">
      <p class="center">
        <div class="btn-group-vertical" id="modalValue">
          <label ng-repeat="sensor in sensorTypes"
                 class="btn btn-black"
                 ng-model="roomValueType"
                 btn-radio="sensor"
                 uncheckable>
            {{sensor.name}}
          </label>
        </div>
        <div class="btn-group-vertical" id="modalTimeframe">
        <label ng-repeat="time in timeFrames"
               class="btn btn-black"
               ng-model="timeFrame"
               btn-radio="time"
               uncheckable>
          {{time.text}}
        </label>
        </div>
      </p>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default" ng-click="modal.ok()">OK</button>
    <button class="btn btn-default" ng-click="modal.cancel()">Cancel</button>
  </div>
</script>
