<!DOCTYPE html>
<html>
  <div class="jumbotron">


    <article>
      <h2>  Otaniemi3D - enhance building efficiency </h2><br>
      <h3>With this website you can access building sensor data through three different views.</h3>

      <ul class="home-navs">
        <li class="no-wrap"><a href="#/1dview">1D View</a></li>
  	    <li class="no-wrap"><a href="#/2dview">2D View</a></li>
  	    <li class="no-wrap"><a href="#/3dview">3D View</a></li>
      </ul>
      <br>
        <p><a href="#/support">click here for further information.</a></p>


      </article>

  </div>
</html>