<carousel class="frontpage-carousel" interval="interval">
    <slide class="carousel-slide" ng-repeat="slide in slides" active="slide.active">
        <div class="carousel-caption">
            <article>
                <h1 class="carousel-heading">{{slide.caption}}</h1>
                <h3 class="carousel-heading">{{slide.description}}</h3>
                <p ng-show="{{slide.link}} == 'Support'">
                    <a class="btn btn-lg btn-primary" role="button" href="#{{slide.link}}">{{slide.linktext}}</a>
                </p>
            </article>
        </div>
    </slide>
</carousel>