<div class="panorama" ng-class="panorama.class">
  <button class="panobtn" ng-click="panorama.goBack()">
    <span class="glyphicon glyphicon glyphicon-backward"></span>
    BACK
  </button>
  <panorama id="room-panorama" room="panorama.room"></panorama>
</div>


<script type="text/ng-template" id="hotspot-selection.html">
  <div class="modal-header">
    <h3 class="modal-title">Select the sensor to add</h3>
  </div>
  <div class="modal-body">
    <sensor-tree id="sensor-tree"
      root-url="panorama.room.url"
      select-sensor="selectSensor"
      add-sensor="addSensor"
      error="panorama.alert">
    </sensor-tree>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="modal.ok()">OK</button>
    <button class="btn btn-warning" ng-click="modal.cancel()">Cancel</button>
  </div>
</script>
