<div class="modal-header">
  <h3 class="modal-title">Sensor type and timeframe</h3>
</div>
<div class="modal-body modal-vertical">
  <div ng-class="::modal.smallDevice ? 'btn-group-vertical' : 'btn-group'">
    <label ng-repeat="sensor in modal.params.sensorTypes"
           class="btn btn-black"
           ng-model="modal.params.sensorType"
           btn-radio="sensor">
      {{sensor.text}}
    </label>
  </div>
  <div></div>
  <div ng-class="::modal.smallDevice ? 'btn-group-vertical' : 'btn-group'">
    <label ng-repeat="time in modal.params.timeFrames"
           class="btn btn-black"
           ng-model="modal.params.timeFrame"
           btn-radio="time">
     <span ng-show="time.params.end">
       <span style="white-space: nowrap">
         {{time.params.begin.split('T')[0]}}
       </span>
       to
       <span style="white-space: nowrap">
         {{time.params.end.split('T')[0]}}
       </span>
     </span>
     <span ng-hide="time.params.end">
       {{time.text}}
     </span>
    </label>
  </div>
  <div ng-show="modal.params.timeFrame.text == 'Select range'">
    <date-range ng-model="modal.params.timeFrame.params">
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-default" ng-click="modal.ok()">OK</button>
  <button class="btn btn-default" ng-click="modal.cancel()">Cancel</button>
</div>
