<div class="modal-header">
  <h3 class="modal-title">Sensor type and timeframe</h3>
</div>
<div class="modal-body">
  <div class="modal-landscape">
    <p>
      <div class="btn-group" id="modalValue">
        <label ng-repeat="sensor in modal.params.sensorTypes"
               class="btn btn-black"
               ng-model="modal.params.sensorType"
               btn-radio="sensor">
          {{sensor.name}}
        </label>
      </div>
    </p>
    <p>
      <div class="btn-group" id="modalTimeframe">
        <label ng-repeat="time in modal.params.timeFrames"
               class="btn btn-black"
               ng-model="modal.params.timeFrame"
               btn-radio="time">
          {{time.text}}
        </label>
      </div>
    </p>
  </div>
  <div class="modal-portrait">
    <p class="center">
      <div class="btn-group-vertical" id="modalValue">
        <label ng-repeat="sensor in modal.params.sensorTypes"
               class="btn btn-black"
               ng-model="modal.params.sensorType"
               btn-radio="sensor">
          {{sensor.name}}
        </label>
      </div>
      <div class="btn-group-vertical" id="modalTimeframe">
      <label ng-repeat="time in modal.params.timeFrames"
             class="btn btn-black"
             ng-model="modal.params.timeFrame"
             btn-radio="time.text">
        {{time.text}}
      </label>
      </div>
    </p>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-default" ng-click="modal.ok()">OK</button>
  <button class="btn btn-default" ng-click="modal.cancel()">Cancel</button>
</div>
